
@import "./Utils/Variables";
@import "./Utils/Mixin";


body {
    
    /* font-family: 'Shrikhand', Arial, serif; */
    font-family: 'Roboto', sans-serif;
    padding: 0em;
    margin: 0em;
    width: 100%;
}


.ConteneurLogo {
    display: block;
    width: 50% ;
    margin: 0em auto 0.2em auto ;
    padding-top: 1em;

    &__Image {
        height: 100%;
        width:100%;
        object-fit: cover;
    }
}


.Localisation {

    display: flex ;
    justify-content: center;
    margin: 1em auto 0 auto ;
    background-color: $ColorLocalisation ;
    padding: 0.5em 0 0.5em 0;

    &__Position {
        padding-top: 0.8em;
        font-size: 1.2em;
        padding-right: 0.5em;
    }
    &__Texte {
        
        font-size: 1.2em;
        text-align: center; 
    }
}

.Reserver {
    background-color: $ColorReserver ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    margin: 0em ;
    padding: auto;
    
    &__Titre {
        width: 75%;
        margin: 0em auto 0 auto;
        font-size: 1.8em;
        font-weight: 900;
        text-align: center;
        padding: 2em 0 0 0;
    }
    &__Paragraphe {
        width: 85%;
        margin: 1em auto 2em auto;
        text-align: center;
        font-size: 1.3em;
    }
    &__BoutonExplorerNosRestaurants{
        margin: 0em auto 4em auto;
        background: linear-gradient(  $ColorSecondaire, $ColorPrimaire);
        padding: 0.2em 2em  0.2em 2em;
        border-radius: 2em 2em 2em 2em; 
        box-shadow: 0em 0.4em 0.8em $ColorHombre;
    }
    &__BoutonExplorerNosRestaurants h2{
        padding: 0em;
        font-weight: 200;
        color: white;
        font-size: 1.1em;
    }

}

.Fonctionnement {
    &__Titre {
        margin: 2em 0em 1em 0.7em;
        font-size: 1.8em;
        font-weight: 900;
    }

    &__BoutonChoisissezUnRestaurant {
        @include MenuFonctionnement () ;
    }
    &__ConposezVotreMenu {
        @include MenuFonctionnement () ;
    }
    &__DégustezAuRestaurant {
        @include MenuFonctionnement () ;
    }
}

.Restaurant {
    background-color: $ColorReserver ;
    padding: 0em 0em 3em 0em ;
    position: relative;
    &__Titre {
        margin: 3.5em 0em 1em 1em;
        padding: 2.5em 0em 0em 0em ;
        font-size: 1.8em;
        font-weight: 900;
    }

    &__LaPaletteDuGout{
        @include PresentationRestaurant () ;
        &__Nouveau {
            position: absolute ;
            right: 1.5em;
            top:1.5em ;
            background-color: $ColorTertiaire ;
            color: $ColorTertiaireB;
            padding: 0.5em 1em 0.5em 1em  ;
            font-weight: 900;
        }
    }
    &__LaNoteEnchantee {
        @include PresentationRestaurant () ;
        &__Nouveau {
            position: absolute ;
            right: 1.5em;
            top:1.5em ;
            background-color: $ColorTertiaire ;
            color: $ColorTertiaireB;
            padding: 0.5em 1em 0.5em 1em  ;
            font-weight: 900;
        }
    }
    &__ALaFrancaise {
        @include PresentationRestaurant () ;
    }
    &__LeDeliceDesSens{
        @include PresentationRestaurant () ;
    }

}


.BasDePage {
    background-color: $ColorFooter;
    color: white;
    padding: 2em;
    font-size: 1.15em;
     

    &__LogoBlanc {
        width: 7em;
        margin-bottom:0.75em;
        &__Image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__ProposerUnRestaurant {
        display: flex;
        padding: 0em;
        margin: 0 0 -1em 0;
        &__Icone{
            padding: 1em 1em 0 0;
            
        }        
    }
    &__DevenirPartenaire {
        display: flex;
        padding: 0em;
        margin: 0 0 -1em 0;
        &__Icone{
            margin: 1em 0.7em 0 0;
        }        
    }
    & a {
        text-decoration:none ;
        color:white ;
    }
}
