@import "./Utils/Variables";
@import "./Utils/Mixin";
@import "./Utils/Animation";



@media all and (max-width: 1023.98px) {
    a {
        text-decoration:none ;
        color:black ;
    }


    body {
        
        /* font-family: 'Shrikhand', Arial, serif; */
        font-family: 'Roboto', sans-serif;
        padding: 0em;
        margin: 0em;
        width: 100%;
        position: relative;
    }

    header {
        display: flex;

    }


    .ConteneurLogo {
        display: block;
        width: 50% ;
        height: 100%;
        margin: 0em auto 0.2em auto ;
        padding-top: 1em;

        &__Image {
            height: 100%;
            width:100%;
            object-fit: cover ;
        }

    }

    .IconeFleche {
        margin: 1.2em 0 0 0.5em;
        position: absolute;
        width: 1.5em ;
        height: 1.5em;
        @media (min-width: 768px) and (max-width: 1023.98px) {
            margin: 2.5em 0 0 0.5em;
        }

        & i {
            font-size: 01.5em;
        }
    }


    .LaNoteEnchantee {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/LaNoteEnchantee.jpg");
    }
    .ALaFrancaise {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/ALaFrancaise.jpg");
    }
    .LaPaletteDuGout {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/LaPaletteDuGout.jpg");
    }
    .LeDeliceDesSens {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/DeliceDesSens.jpg");
    }




    .NomDuRestaurant {
        background-color: $ColorLocalisation;
        margin: -2em 0 -2em 0;
        padding: 0.5em 0 0em 1em;
        z-index: 2;
        border-radius: 2em 2em 0 0 ;
        display: flex;
        justify-content: space-between;
        & h2 {
            font-family: 'Shrikhand', Arial, serif;
            font-size: 1.8em;
        }
        &__Coeur {
            @include AnimationCoeurPageInterieur ();
        }
    }

    section {
        background-color: $ColorLocalisation ;
        padding-bottom: 02em;
    }

    .Titre {
        background-color:$ColorLocalisation ;
        padding: 0 0 0 1em;
        padding-top: 3em;
        & h2 {
            margin: 0;
            padding-bottom:0.2em ;
            font-size: 01.3em;
            font-weight: 200 ;
            color: $ColorFooter;
        }
        &__Trait {
            background-color: $ColorTertiaire ;
            width: 3em;
            height: 0.2em;
            margin: 0;
        }
    }

.A1 {
    animation:0s AnimationMenuOpacite 0.5s linear 1 ;
    animation-fill-mode: forwards;
}
.A2{
    animation:0.25s AnimationMenuOpacite 0.5s linear 1 ;
    animation-fill-mode: forwards;
}

.A3{
    animation:0.5s AnimationMenuOpacite 0.5s linear 1 ;
    animation-fill-mode: forwards;
}

.A4{
    animation:0.75s AnimationMenuOpacite 0.5s linear 1 ;
    animation-fill-mode: forwards;
}

    article {
        position: relative;
        opacity: 0;
        

        width: 85%;
        margin: 01em auto 0 auto;
        padding: 0em 0em 0em 0em;
        background-color: white;
        border-radius: 1em 1em 1em 1em;
        box-shadow:0em 0em 0.5em $ColorHombre ;
        display: flex;
        justify-content: space-between;        
        overflow: hidden;
        cursor: pointer;
        

        & .ContenuMenu {
            width: 100%;
            position: relative;
            display: column;
            padding:1em 0em 01em 01em;
            text-overflow: ellipsis;

            & h3 {
                margin:0em 0em 0em 0em;
                padding: 0;
                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @media all and (max-width: 419.98px) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 7em;
                }
            }
            
            &__Descriptif {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5em;
                
                & p {
                    margin: 0;
                    padding: 0 0 0em  0;
                    @media all and (max-width: 419.98px) {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 7em;
                    }
                    
                }
                & h2 {
                    position: relative;
                    margin: 0;
                    padding: 0 1.5em 0em  1.5em;
                    font-weight: 1000 ; 
                    top: -0.5em;
                }
            }
        }
        &:hover p {
            max-width: 8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 768px) and (max-width: 1023.98px) {
                max-width: none;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            }
        &:hover h3 {
            max-width: 8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 768px) and (max-width: 1023.98px) {
                max-width: none;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & .ContenuMenuBouton {
            width: 00em;
            background-color: $ColorTertiaire;
            text-align: center;
            padding-top: 2em;
            transition: width 0.25s;
            
            & i {
                color: $ColorReserver;
                font-size: 02em;
                }

        }
        & :hover + .ContenuMenuBouton, .ContenuMenuBouton:hover {
            width: 7em;
            transition: width 0.25s;
            
            & i {
                animation: RotationContenuMenuBouton 0.25s linear 1 ;
            }
        
        }
        
    }
    


    .Bouton {
        background-color: $ColorLocalisation ;
        padding: 2em 0 5em 0;
        &__Commander {
            width: 10em;
            margin: 00em auto 0em auto;
            background: linear-gradient(  $ColorSecondaire, $ColorPrimaire);
            padding: 0.2em 2em  0.2em 2em;
            border-radius: 2em 2em 2em 2em; 
            box-shadow: 0em 0.4em 0.8em $ColorHombre;
            cursor: pointer;
            & h2 {
                text-align: center;
                padding: 0em;
                font-weight: 200;
                color: white;
                font-size: 1.1em;
            }
        }
    }




    .BasDePage {
        background-color: $ColorFooter;
        color: white;
        padding: 2em;
        font-size: 1.15em;
        

        &__LogoBlanc {
            width: 7em;
            margin-bottom:0.75em;
            &__Image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__ProposerUnRestaurant {
            display: flex;
            padding: 0em;
            margin: 0 0 -1em 0;
            &__Icone{
                padding: 1em 1em 0 0;
                
            }        
        }
        &__DevenirPartenaire {
            display: flex;
            padding: 0em;
            margin: 0 0 -1em 0;
            &__Icone{
                margin: 1em 0.7em 0 0;
            }        
        }
        & a {
            text-decoration:none ;
            color:white ;
        }
    }
}

@media (min-width: 1024px) {
    a {
        text-decoration:none ;
        color:black ;
    }


    body {
        
        /* font-family: 'Shrikhand', Arial, serif; */
        font-family: 'Roboto', sans-serif;
        padding: 0em;
        margin: 0em;
        width: 100%;
        position: relative;
    }

    header {
        display: flex;

    }


    .ConteneurLogo {
        
        display: block;
        width: 40em ;
        height: 100%;
        margin: 0em auto 0.2em auto ;
        padding-top: 1em;

        &__Image {
            height: 100%;
            width:100%;
            object-fit: cover ;
        }

    }

    .IconeFleche {
        margin: 3em 0 0 0.5em;
        position: absolute;
        width: 1.5em ;
        height: 1.5em;

        & i {
            font-size: 01.5em;
        }
    }


    .LaNoteEnchantee {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/LaNoteEnchantee.jpg");
    }
    .ALaFrancaise {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/ALaFrancaise.jpg");
    }
    .LaPaletteDuGout {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/LaPaletteDuGout.jpg");
    }
    .LeDeliceDesSens {
        width: 100%;
        height: 15em;
        z-index: 1;
        background:no-repeat center/100% url("../../images/restaurants/DeliceDesSens.jpg");
    }




    .NomDuRestaurant {
        background-color: $ColorLocalisation;
        margin: -2em 0 -2em 0;
        padding: 0.5em 0 0em 1em;
        z-index: 2;
        border-radius: 2em 2em 0 0 ;
        display: flex;
        justify-content: center;
        
        & h2 {
            font-family: 'Shrikhand', Arial, serif;
            font-size: 4em;
            padding: 0em 02em 0em 00em;
            
        }
        &__Coeur {
            margin: 0em 0 0 0;
            @include AnimationCoeurPageInterieur (5.2em);
        }
    }

    .A1 {
        animation:0s AnimationMenuOpacite 0.5s linear 1 ;
        animation-fill-mode: forwards;
    }
    .A2{
        animation:0.25s AnimationMenuOpacite 0.5s linear 1 ;
        animation-fill-mode: forwards;
    }
    
    .A3{
        animation:0.5s AnimationMenuOpacite 0.5s linear 1 ;
        animation-fill-mode: forwards;
    }
    
    .A4{
        animation:0.75s AnimationMenuOpacite 0.5s linear 1 ;
        animation-fill-mode: forwards;
    }


    .MenuFlex {
        
        background-color: $ColorLocalisation;
    }
    section {
        width: 100%;
        background-color: $ColorLocalisation ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 0 auto;
        
    }

    .Titre {
        background-color:$ColorLocalisation ;
        padding: 3em 0 0 1em;
        margin:0 auto;
        justify-content: center;
        & h2 {
            
            margin: 0;
            padding-bottom:0.2em ;
            font-size: 01.3em;
            font-weight: 200 ;
            color: $ColorFooter;
        }
        &__Trait {
            justify-content: center;
            background-color: $ColorTertiaire ;
            width: 3em;
            height: 0.2em;
            margin: 0 auto;
        }
    }
    .MenuFlexGranEcran{
        width: 55em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article {
        width: 85%;
        max-width: 25em;
        margin: 01em auto 0 auto;
        padding: 0em 1.5em 0em 0em;
        background-color: white;
        border-radius: 1em 1em 1em 1em;
        box-shadow:0em 0em 0.5em $ColorHombre ;
        display: flex;
        justify-content: space-between;        
        overflow: hidden;
        cursor: pointer;
        
        

        & .ContenuMenu {
            width: 100%;
            position: relative;
            display: column;
            padding:1em 0em 01em 01em;
            text-overflow: ellipsis;

            & h3 {
                margin: 0;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                

            }
            &__Descriptif {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5em;
                & p {
                    margin: 0;
                    padding: 0;
                }
                & h2 {
                    position: relative;
                    margin: 0;
                    padding: 0 1.5em 0em  1.5em;
                    font-weight: 1000 ;
                    font-size: 1em;
                }
            }
        }
        & .ContenuMenuBouton {
            width: 00em;
            padding: 0 0 0 0;
            margin: 0 -1.5em 0 0;
            background-color: $ColorTertiaire;
            text-align: center;
            padding-top: 1.5em;
            transition: width 0.25s;
            
            & i {
                color: $ColorReserver;
                font-size: 02em;
                }

        }
        & :hover + .ContenuMenuBouton, .ContenuMenuBouton:hover {
            width: 7em;
            transition: width 0.25s;
            
            & i {
                animation: RotationContenuMenuBouton 0.25s linear 1 ;
            }
        
        }
    }
    .Bouton {
        background-color: $ColorLocalisation ;
        padding: 2em 0 5em 0;
        
        &__Commander {
            width: 10em;
            margin: 00em auto 0em auto;
            background: linear-gradient(  $ColorSecondaire, $ColorPrimaire);
            padding: 0.2em 2em  0.2em 2em;
            border-radius: 2em 2em 2em 2em; 
            box-shadow: 0em 0.4em 0.8em $ColorHombre;
            cursor: pointer;
            & h2 {
                text-align: center;
                padding: 0em;
                font-weight: 200;
                color: white;
                font-size: 1.1em;
            }
        }
    }




    .BasDePage {
        background-color: $ColorFooter;
        color: white;
        padding: 2em;
        font-size: 1.15em;
        

        &__LogoBlanc {
            width: 7em;
            margin-bottom:0.75em;
            &__Image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__ProposerUnRestaurant {
            display: flex;
            padding: 0em;
            margin: 0 0 -1em 0;
            &__Icone{
                padding: 1em 1em 0 0;
                
            }        
        }
        &__DevenirPartenaire {
            display: flex;
            padding: 0em;
            margin: 0 0 -1em 0;
            &__Icone{
                margin: 1em 0.7em 0 0;
            }        
        }
        & a {
            text-decoration:none ;
            color:white ;
        }
    }
}