@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    stroke: url(#Gradient);
    fill: url(#Gradient);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#Gradient);
    stroke: url(#Gradient);
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#Gradient);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes AnimationMenuOpacite {
  0% {
    transform: translate(0em, 2em);
    opacity: 0;
  }
  80% {
    transform: translate(0em, 0.5em);
    opacity: 0.8;
  }
  100% {
    transform: translate(0em, 0em);
    opacity: 1;
  }
}
@keyframes AnimationContenuMenuBouton {
  0% {
    width: 0em;
  }
  100% {
    width: 7em;
  }
}
@keyframes RotationContenuMenuBouton {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 1023.98px) {
  a {
    text-decoration: none;
    color: black;
  }

  body {
    /* font-family: 'Shrikhand', Arial, serif; */
    font-family: "Roboto", sans-serif;
    padding: 0em;
    margin: 0em;
    width: 100%;
    position: relative;
  }

  header {
    display: flex;
  }

  .ConteneurLogo {
    display: block;
    width: 50%;
    height: 100%;
    margin: 0em auto 0.2em auto;
    padding-top: 1em;
  }
  .ConteneurLogo__Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .IconeFleche {
    margin: 1.2em 0 0 0.5em;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
  }
}
@media (max-width: 1023.98px) and (min-width: 768px) and (max-width: 1023.98px) {
  .IconeFleche {
    margin: 2.5em 0 0 0.5em;
  }
}
@media all and (max-width: 1023.98px) {
  .IconeFleche i {
    font-size: 1.5em;
  }
}
@media all and (max-width: 1023.98px) {
  .LaNoteEnchantee {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/LaNoteEnchantee.jpg");
  }
}
@media all and (max-width: 1023.98px) {
  .ALaFrancaise {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/ALaFrancaise.jpg");
  }
}
@media all and (max-width: 1023.98px) {
  .LaPaletteDuGout {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/LaPaletteDuGout.jpg");
  }
}
@media all and (max-width: 1023.98px) {
  .LeDeliceDesSens {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/DeliceDesSens.jpg");
  }
}
@media all and (max-width: 1023.98px) {
  .NomDuRestaurant {
    background-color: #eaeaea;
    margin: -2em 0 -2em 0;
    padding: 0.5em 0 0em 1em;
    z-index: 2;
    border-radius: 2em 2em 0 0;
    display: flex;
    justify-content: space-between;
  }
  .NomDuRestaurant h2 {
    font-family: "Shrikhand", Arial, serif;
    font-size: 1.8em;
  }
  .NomDuRestaurant__Coeur {
    width: 2em;
    height: 2em;
    position: relative;
    margin-right: 2em;
    margin-top: 2.2em;
    fill: transparent;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
  }
  .NomDuRestaurant__Coeur svg {
    overflow: visible;
    width: 2em;
  }
  .NomDuRestaurant__Coeur path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }
  .NomDuRestaurant__Coeur__Background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }
  .NomDuRestaurant__Coeur__Principal {
    animation-fill-mode: forwards;
  }
  .NomDuRestaurant__Coeur__Principal:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }
  .NomDuRestaurant__Coeur__Principal:hover ~ .Restaurant__LeDeliceDesSens__Coeur__Background path {
    animation: fade-animation 2s ease-in-out forwards;
    animation-fill-mode: forwards;
  }
}
@media all and (max-width: 1023.98px) {
  section {
    background-color: #eaeaea;
    padding-bottom: 2em;
  }
}
@media all and (max-width: 1023.98px) {
  .Titre {
    background-color: #eaeaea;
    padding: 0 0 0 1em;
    padding-top: 3em;
  }
  .Titre h2 {
    margin: 0;
    padding-bottom: 0.2em;
    font-size: 1.3em;
    font-weight: 200;
    color: #353535;
  }
  .Titre__Trait {
    background-color: #99E2D0;
    width: 3em;
    height: 0.2em;
    margin: 0;
  }
}
@media all and (max-width: 1023.98px) {
  .A1 {
    animation: 0s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }
}
@media all and (max-width: 1023.98px) {
  .A2 {
    animation: 0.25s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }
}
@media all and (max-width: 1023.98px) {
  .A3 {
    animation: 0.5s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }
}
@media all and (max-width: 1023.98px) {
  .A4 {
    animation: 0.75s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }
}
@media all and (max-width: 1023.98px) {
  article {
    position: relative;
    opacity: 0;
    width: 85%;
    margin: 1em auto 0 auto;
    padding: 0em 0em 0em 0em;
    background-color: white;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0em 0em 0.5em #aaaaaa;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
  }
  article .ContenuMenu {
    width: 100%;
    position: relative;
    display: column;
    padding: 1em 0em 1em 1em;
    text-overflow: ellipsis;
  }
  article .ContenuMenu h3 {
    margin: 0em 0em 0em 0em;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media all and (max-width: 1023.98px) and (max-width: 419.98px) {
  article .ContenuMenu h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 7em;
  }
}
@media all and (max-width: 1023.98px) {
  article .ContenuMenu__Descriptif {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }
  article .ContenuMenu__Descriptif p {
    margin: 0;
    padding: 0 0 0em 0;
  }
}
@media all and (max-width: 1023.98px) and (max-width: 419.98px) {
  article .ContenuMenu__Descriptif p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 7em;
  }
}
@media all and (max-width: 1023.98px) {
  article .ContenuMenu__Descriptif h2 {
    position: relative;
    margin: 0;
    padding: 0 1.5em 0em 1.5em;
    font-weight: 1000;
    top: -0.5em;
  }
}
@media all and (max-width: 1023.98px) {
  article:hover p {
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 1023.98px) and (min-width: 768px) and (max-width: 1023.98px) {
  article:hover p {
    max-width: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media all and (max-width: 1023.98px) {
  article:hover h3 {
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 1023.98px) and (min-width: 768px) and (max-width: 1023.98px) {
  article:hover h3 {
    max-width: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media all and (max-width: 1023.98px) {
  article .ContenuMenuBouton {
    width: 0em;
    background-color: #99E2D0;
    text-align: center;
    padding-top: 2em;
    transition: width 0.25s;
  }
  article .ContenuMenuBouton i {
    color: #f6f6f6;
    font-size: 2em;
  }
}
@media all and (max-width: 1023.98px) {
  article :hover + .ContenuMenuBouton, article .ContenuMenuBouton:hover {
    width: 7em;
    transition: width 0.25s;
  }
  article :hover + .ContenuMenuBouton i, article .ContenuMenuBouton:hover i {
    animation: RotationContenuMenuBouton 0.25s linear 1;
  }
}
@media all and (max-width: 1023.98px) {
  .Bouton {
    background-color: #eaeaea;
    padding: 2em 0 5em 0;
  }
  .Bouton__Commander {
    width: 10em;
    margin: 0em auto 0em auto;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 0.2em 2em 0.2em 2em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0em 0.4em 0.8em #aaaaaa;
    cursor: pointer;
  }
  .Bouton__Commander h2 {
    text-align: center;
    padding: 0em;
    font-weight: 200;
    color: white;
    font-size: 1.1em;
  }
}
@media all and (max-width: 1023.98px) {
  .BasDePage {
    background-color: #353535;
    color: white;
    padding: 2em;
    font-size: 1.15em;
  }
  .BasDePage__LogoBlanc {
    width: 7em;
    margin-bottom: 0.75em;
  }
  .BasDePage__LogoBlanc__Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .BasDePage__ProposerUnRestaurant {
    display: flex;
    padding: 0em;
    margin: 0 0 -1em 0;
  }
  .BasDePage__ProposerUnRestaurant__Icone {
    padding: 1em 1em 0 0;
  }
  .BasDePage__DevenirPartenaire {
    display: flex;
    padding: 0em;
    margin: 0 0 -1em 0;
  }
  .BasDePage__DevenirPartenaire__Icone {
    margin: 1em 0.7em 0 0;
  }
  .BasDePage a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 1024px) {
  a {
    text-decoration: none;
    color: black;
  }

  body {
    /* font-family: 'Shrikhand', Arial, serif; */
    font-family: "Roboto", sans-serif;
    padding: 0em;
    margin: 0em;
    width: 100%;
    position: relative;
  }

  header {
    display: flex;
  }

  .ConteneurLogo {
    display: block;
    width: 40em;
    height: 100%;
    margin: 0em auto 0.2em auto;
    padding-top: 1em;
  }
  .ConteneurLogo__Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .IconeFleche {
    margin: 3em 0 0 0.5em;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
  }
  .IconeFleche i {
    font-size: 1.5em;
  }

  .LaNoteEnchantee {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/LaNoteEnchantee.jpg");
  }

  .ALaFrancaise {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/ALaFrancaise.jpg");
  }

  .LaPaletteDuGout {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/LaPaletteDuGout.jpg");
  }

  .LeDeliceDesSens {
    width: 100%;
    height: 15em;
    z-index: 1;
    background: no-repeat center/100% url("../../images/restaurants/DeliceDesSens.jpg");
  }

  .NomDuRestaurant {
    background-color: #eaeaea;
    margin: -2em 0 -2em 0;
    padding: 0.5em 0 0em 1em;
    z-index: 2;
    border-radius: 2em 2em 0 0;
    display: flex;
    justify-content: center;
  }
  .NomDuRestaurant h2 {
    font-family: "Shrikhand", Arial, serif;
    font-size: 4em;
    padding: 0em 2em 0em 0em;
  }
  .NomDuRestaurant__Coeur {
    margin: 0em 0 0 0;
    width: 2em;
    height: 2em;
    position: relative;
    margin-right: 2em;
    margin-top: 5.2em;
    fill: transparent;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
  }
  .NomDuRestaurant__Coeur svg {
    overflow: visible;
    width: 2em;
  }
  .NomDuRestaurant__Coeur path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }
  .NomDuRestaurant__Coeur__Background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }
  .NomDuRestaurant__Coeur__Principal {
    animation-fill-mode: forwards;
  }
  .NomDuRestaurant__Coeur__Principal:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }
  .NomDuRestaurant__Coeur__Principal:hover ~ .Restaurant__LeDeliceDesSens__Coeur__Background path {
    animation: fade-animation 2s ease-in-out forwards;
    animation-fill-mode: forwards;
  }

  .A1 {
    animation: 0s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }

  .A2 {
    animation: 0.25s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }

  .A3 {
    animation: 0.5s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }

  .A4 {
    animation: 0.75s AnimationMenuOpacite 0.5s linear 1;
    animation-fill-mode: forwards;
  }

  .MenuFlex {
    background-color: #eaeaea;
  }

  section {
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
  }

  .Titre {
    background-color: #eaeaea;
    padding: 3em 0 0 1em;
    margin: 0 auto;
    justify-content: center;
  }
  .Titre h2 {
    margin: 0;
    padding-bottom: 0.2em;
    font-size: 1.3em;
    font-weight: 200;
    color: #353535;
  }
  .Titre__Trait {
    justify-content: center;
    background-color: #99E2D0;
    width: 3em;
    height: 0.2em;
    margin: 0 auto;
  }

  .MenuFlexGranEcran {
    width: 55em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article {
    width: 85%;
    max-width: 25em;
    margin: 1em auto 0 auto;
    padding: 0em 1.5em 0em 0em;
    background-color: white;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0em 0em 0.5em #aaaaaa;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
  }
  article .ContenuMenu {
    width: 100%;
    position: relative;
    display: column;
    padding: 1em 0em 1em 1em;
    text-overflow: ellipsis;
  }
  article .ContenuMenu h3 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  article .ContenuMenu__Descriptif {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }
  article .ContenuMenu__Descriptif p {
    margin: 0;
    padding: 0;
  }
  article .ContenuMenu__Descriptif h2 {
    position: relative;
    margin: 0;
    padding: 0 1.5em 0em 1.5em;
    font-weight: 1000;
    font-size: 1em;
  }
  article .ContenuMenuBouton {
    width: 0em;
    padding: 0 0 0 0;
    margin: 0 -1.5em 0 0;
    background-color: #99E2D0;
    text-align: center;
    padding-top: 1.5em;
    transition: width 0.25s;
  }
  article .ContenuMenuBouton i {
    color: #f6f6f6;
    font-size: 2em;
  }
  article :hover + .ContenuMenuBouton, article .ContenuMenuBouton:hover {
    width: 7em;
    transition: width 0.25s;
  }
  article :hover + .ContenuMenuBouton i, article .ContenuMenuBouton:hover i {
    animation: RotationContenuMenuBouton 0.25s linear 1;
  }

  .Bouton {
    background-color: #eaeaea;
    padding: 2em 0 5em 0;
  }
  .Bouton__Commander {
    width: 10em;
    margin: 0em auto 0em auto;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 0.2em 2em 0.2em 2em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0em 0.4em 0.8em #aaaaaa;
    cursor: pointer;
  }
  .Bouton__Commander h2 {
    text-align: center;
    padding: 0em;
    font-weight: 200;
    color: white;
    font-size: 1.1em;
  }

  .BasDePage {
    background-color: #353535;
    color: white;
    padding: 2em;
    font-size: 1.15em;
  }
  .BasDePage__LogoBlanc {
    width: 7em;
    margin-bottom: 0.75em;
  }
  .BasDePage__LogoBlanc__Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .BasDePage__ProposerUnRestaurant {
    display: flex;
    padding: 0em;
    margin: 0 0 -1em 0;
  }
  .BasDePage__ProposerUnRestaurant__Icone {
    padding: 1em 1em 0 0;
  }
  .BasDePage__DevenirPartenaire {
    display: flex;
    padding: 0em;
    margin: 0 0 -1em 0;
  }
  .BasDePage__DevenirPartenaire__Icone {
    margin: 1em 0.7em 0 0;
  }
  .BasDePage a {
    text-decoration: none;
    color: white;
  }
}

/*# sourceMappingURL=StylePage.css.map */
