@mixin MenuFonctionnement  {
    display: flex;
    background-color: $ColorReserver ;
    padding: 0.35em;
    position: relative;
    margin: 0 02em 2em 02em;
    border-radius: 1em;
    box-shadow: 0em 0.4em 0.8em $ColorHombre;
    cursor: pointer;   
    
    &:hover  {
        background-color: $ColorSurvolFonctionnement;
        box-shadow: 0em 0.8em 0.8em $ColorHombre
    }
    &:hover i {
        
        color: $ColorPrimaire;
    }
    &__Number {
        background-color: $ColorPrimaire;
        font-size: 1.1em;
        padding: 0.2em 0.5em 0.2em 0.5em;
        margin-top: 1em;
        border-radius: 0.8em;
        color: white;
        position: absolute;
        left: -0.6em;
    }
    &__Bouton {
        display: flex;
        &__Icone {
            font-size: 1.4em;
            color: gray;
            padding: 0.8em 0.9em 0em 1.6em;
        }
        &__Texte {
            font-size: 1.2em;
            padding: 0.2em 02em 0 0;
            
        }
    }

}

@mixin AnimationCoeurPageInterieur () {
    width: 2em;
    height: 2em;
    
    position: relative;
    margin-right: 2em;
    margin-top: 5.2em ;

    fill:transparent;
    stroke: $CoeurVide;
    stroke-width: 40;
    cursor: pointer;
    

    svg{
        overflow: visible;
        width: 2em;
    }

    path{
        
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }

    &__Background {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
    } 

    &__Principal {
        animation-fill-mode: forwards;
        &:hover path{
            animation: stroke-animation 2s ease-in-out forwards;
            
        }
        &:hover ~ .Restaurant__LeDeliceDesSens__Coeur__Background path {
            animation: fade-animation 2s ease-in-out forwards;
            animation-fill-mode: forwards;
        }
    }
}


@mixin AnimationCoeur (){
    width: 2em;
    height: 2em;
    
    position: absolute;
    bottom: 2em;
    right: 1em;

    fill:transparent;
    stroke: $CoeurVide;
    stroke-width: 40;
    cursor: pointer;
    

    svg{
        overflow: visible;
        width: 2em;
    }

    path{
        
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }

    &__Background {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
    } 

    &__Principal {
        animation-fill-mode: forwards;
        &:hover path{
            animation: stroke-animation 2s ease-in-out forwards;
            
        }
        &:hover ~ .Restaurant__LeDeliceDesSens__Coeur__Background path {
            animation: fade-animation 2s ease-in-out forwards;
            animation-fill-mode: forwards;
        }
    }
}


@mixin PresentationRestaurant {
    
    width: 85%;
    display: flex ;
    flex-direction: column;
    background-color: white;
    margin: 1em auto 1.5em auto;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    &__Image {
        height: 13em;
        display: flex ;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__Nom {
        font-size: 1.3em;
        margin: 1em 0 0em 0.7em;
        font-weight: 900;
    }
    &__Lieu {
        font-size: 1.3em;
        margin: 0.3em 0 1em 0.7em;
    }
    &__Coeur {
        @include AnimationCoeur ();
    }
}


@mixin PresentationRestaurant_GrandFormat {
    
    width: 85%;
    display: flex ;
    flex-direction: column;
    background-color: white;
    margin: 1em auto 1.5em auto;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    margin: 1.5em;
    &__Image {
        height: 13em;
        display: flex ;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__Nom {
        font-size: 1.3em;
        margin: 1em 0 0em 0.7em;
        font-weight: 900;
    }
    &__Lieu {
        font-size: 1.3em;
        margin: 0.3em 0 1em 0.7em;
    }
    &__Coeur {
        @include AnimationCoeur ();
    }
}