$ColorPrimaire : #9356DC;
$ColorSecondaire : #FF79DA;
$ColorTertiaire : #99E2D0;
$ColorTertiaireB : #008766 ;
$ColorHombre :rgb(170, 170, 170);

$ColorLocalisation : #eaeaea;
$ColorReserver : #f6f6f6  ;
$ColorFooter : #353535 ;
$ColorSurvolFonctionnement : #f5edff ;


$spinner: #FF79DA;
$background: white;
$size: 10em;
$size2: 5em;

$CoeurVide :black ;

